<div id="container">
  <div id="contact">
    <h3 class="title">Kapcsolat</h3>
    <div class="iconWithData">
      <span class="material-symbols-outlined">call</span>
      <a href="tel:+36308399016">+36308399016</a>
    </div>
    <div class="iconWithData">
      <span class="material-symbols-outlined">forward_to_inbox</span>
      <a href="mailto:hello@fluffytouch.hu">hello@fluffytouch.hu </a>
    </div>
    <div class="iconWithData">
      <span class="material-symbols-outlined">thumb_up</span>
      <a
        href="https://www.facebook.com/groups/2142967865905649"
        target="_blank"
        rel="noopener noreferrer"
        >Facebook</a
      >
    </div>
  </div>
  <div id="imprint">
    <h3 class="title">Információk</h3>
    <a href="">Adatkezelési tájékoztató</a>
    <a href="">Impresszum</a>
  </div>
</div>
