<div class="main-container">
  <div class="content">
    <div class="owner">
      <h3 class="title">Az oldal tulajdonosa:</h3>
      <p>Barabás Katalin E.V</p>
      <p>Adószám: 59369855142</p>
      <p>Nyilvántartásba vételi szám: 57390015</p>
      <p>Cím: 1143 Budapest, Hungária körút 37, 2. ajtó</p>
    </div>
    <div class="host">
      <h3 class="title">Tárhely szolgáltató:</h3>
      <a
        href="https://www.websupport.hu/"
        target="_blank"
        rel="noopener noreferrer"
        >Websupport Magyarország Kft.
      </a>
      <div class="iconWithData">
        <span class="material-symbols-outlined">forward_to_inbox</span>
        <a href="mailto:support@websupport.hu">support@websupport.hu </a>
      </div>
    </div>
  </div>
</div>
