@import "../../../mixins.scss";

$brown: #584e4a;
$whitey: #f0f0f0;

$duration: 0.2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);

// TODO: screen-width less than 970: hamburger menu --> lefelé nyíló!
// Időpontfoglalás külön menüpont, Események külön menüpont --> almenük: kezelés, ingyenes programok, csere, tanfolyam --> mindegyik átirányítódik az Időpontfoglalás route-ra!
header {
  font-family: "Great Vibes", cursive;
  height: 86px;
  background-color: rgb(253, 237, 237);
  padding: 30px;
  color: rgb(85, 82, 80);
  box-shadow: 0 1px 2px 0 rgba(91, 75, 75, 0.2),
    0 2px 4px 0 rgba(164, 156, 156, 0.14),
    0 4px 8px -1px rgba(193, 177, 177, 0.12);
  line-height: 0.8;
  width: 100%;

  #container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;

    #name {
      font-size: 38px;
      height: 100%;
      display: flex;
      align-items: center;

      p {
        margin: 0;
      }
    }

    nav {
      text-align: center;
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;

      .menu {
        font-family: "Great Vibes", cursive;
        font-size: 26px;
        margin: 10px;

        #trademark {
          font-family: "Cormorant Garamond", serif;
          margin-left: -8px;
        }
      }

      #button-holder {
        button {
          background-color: rgb(245, 245, 245);
          border: none;
          text-align: center;
          box-shadow: #584e4a;
          box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2),
            0 2px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 4px -1px rgba(0, 0, 0, 0.12);
          cursor: pointer;
          margin-left: 20px;

          .material-symbols-outlined {
            font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
          }

          mat-icon {
            width: 40px;
            height: 50px;
            letter-spacing: 0;
            line-height: 0.8;
            font-size: 32px;
            color: rgb(85, 82, 80);
          }
        }
      }

      a {
        font-size: 26px;
        color: $brown;
      }
    }
  }
}
