<header>
  <div id="container">
    <div id="name">
      <p>Barabás Katalin</p>
    </div>
    <nav>
      <div id="links">
        <a>Rólam</a>
        <a href="">Access Bars</a>
        <a href="">Események</a>
        <a href="">Időpontfoglalás</a>
        <a href="">Árak</a>
        <a href="">Kapcsolat</a>
      </div>
      <div id="button-holder">
        <button
          class="material-symbols-outlined"
          mat-fab
          routerLink="/login"
          color="currentColor"
          aria-label="Button with a login icon"
        >
          <mat-icon>login</mat-icon>
        </button>
      </div>
    </nav>
  </div>
</header>
