<header>
  <div id="container">
    <div id='name'>
      <p>Barabás Katalin</p>
    </div>
    <nav>
      <mat-tab-group>
        <mat-tab label="Rólam"></mat-tab>
        <mat-tab label="Access Bars"></mat-tab>
        <mat-tab label="Naptár"></mat-tab>
        <mat-tab label="Árak"></mat-tab>
        <mat-tab label="Kapcsolat"></mat-tab>
      </mat-tab-group>
    </nav>
  </div>
  <div>
    <!-- <div>
      <p>Rólam
      </p>
      <p>Access bars</p>
      <p>Naptár</p>
      <p>Árak</p>
      <p>Kapcsolat</p>
    </div> -->
  </div>
</header>
