<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <p id="name">Barabás Katalin</p>

      <button
        class="material-symbols-outlined"
        mat-fab
        color="primary"
        aria-label="Button with a menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-expansion-panel-header>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <p routerLink="/access-consciousness" class="nested-title">
          Access Consciousness
          <span id="trademark">®</span>
        </p>
      </mat-expansion-panel-header>
      <div>
        <p routerLink="">Access Bars®</p>
        <p routerLink="">Access Facelift®</p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <p class="nested-title">Események</p>
      </mat-expansion-panel-header>
      <div>
        <p>Csere</p>
        <p>Kezelés</p>
        <p>Tanfolyam</p>
        <p>Ingyenes programok</p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <p class="nested-title">Árak</p>
      </mat-expansion-panel-header>
      <div>
        <p>Felnőtt kezelések</p>
        <p>Gyermek kezelések</p>
      </div>
    </mat-expansion-panel>
    <div id="other-links-holder">
      <p routerLink="/datepicker">Időpontfoglalás</p>
      <div id="button-holder">
        <button
          class="material-symbols-outlined"
          mat-fab
          color="primary"
          aria-label="Button with a home icon"
          routerLink="/"
        >
          <mat-icon>home</mat-icon>
        </button>
        <button
          class="material-symbols-outlined"
          mat-fab
          color="primary"
          aria-label="Button with a contacts icon"
          routerLink="/kapcsolat"
        >
          <mat-icon>import_contacts</mat-icon>
        </button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
