@import "../../../mixins.scss";

.main-container {
  background-color: white;
  margin: 0;

  .content {
    .image-holder {
      padding: 0;

      img {
        border-radius: 3px;
        width: 350px;

        @include custom(450px) {
          width: 430px;
        }
      }
    }

    #contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
      width: 350px;
      padding: 15px;
      color: rgb(121, 85, 72);
      background-color: rgb(253, 237, 237);
      // background-color: white;
      font-weight: bolder;
      font-size: 26px;
      border-radius: 4px;
      margin-top: -100px;
      box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2),
        0 2px 8px 0 rgba(0, 0, 0, 0.14), 0 4px 8px -1px rgba(0, 0, 0, 0.12);

      @include custom(450px) {
        width: 430px;
      }

      @include md {
        margin: 10px;
        margin-bottom: 20px;
      }

      @include custom(920px) {
        margin: 10px 0 20px 10px;
      }

      #title {
        font-size: 26px;
        padding: 15px;
        padding-bottom: 0;
      }

      .material-symbols-outlined {
        font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
        padding-right: 10px;
      }

      .iconWithData {
        display: flex;
        padding: 5px 20px;
        font-size: 14px;

        a {
          text-decoration: none;
          color: rgb(121, 85, 72);
          margin-bottom: 12px;
          font-size: 20px;
        }

        @include custom(920px) {
          font-size: 16px;
        }

        @include lg {
          font-size: 16.5px;
        }
      }
    }
  }
}
