@import "../../../mixins.scss";

.content {
  #image-holder {
    img {
      border-radius: 3px;
      width: 350px;

      @include custom(450px) {
        width: 430px;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    border: rgb(193, 177, 114) solid 1px;
    padding: 40px;
    margin-top: 20px;
    font-family: "Cormorant Garamond", serif;

    mat-label {
      margin: 20px 0;
      font-size: 24px;
      text-underline-offset: 2px;
    }

    mat-form-field,
    mat-calendar {
      font-family: "Cormorant Garamond", serif;
      width: 260px;
      margin-top: 20px;
      padding: 0;

      @include custom(450px) {
        width: 300px;
      }
    }

    .demo-inline-calendar-card {
      margin-bottom: 20px;
    }

    #event-label {
      font-size: 18px;
    }

    mat-error {
      color: red;
    }

    button {
      height: 50px;
      font-size: 18px;
      letter-spacing: 1px;
      font-family: "Cormorant Garamond", serif;
      margin-top: 20px;
    }

    @include custom(450px) {
      width: 430px;
    }
  }
}
