<div class="main-container">
  <div class="content">
    <div id="image-holder">
      <img src="../../../assets/AccessBars_Meme6_Hungarian-1.jpg" alt="" />
    </div>
    <form [formGroup]="form" action="javascpript:void(0)" (submit)="sendForm()">
      <mat-label>Személyes adatok</mat-label>

      <mat-form-field appearance="fill" color="primary">
        <input matInput placeholder="Név" formControlName="name" />
        <mat-error color="warn" *ngIf="name?.hasError('required')"
          >A mező kitöltése kötelező!</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill" color="primary">
        <input
          matInput
          type="email"
          placeholder="Email"
          formControlName="email"
        />
        <mat-error color="warn" *ngIf="email?.hasError('required')"
          >A mező kitöltése kötelező!</mat-error
        >

        <mat-error color="warn" *ngIf="email?.hasError('email')"
          >Kérlek, ezt a formátumot használd: nevem@valami.hu</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill" color="primary">
        <input
          matInput
          placeholder="Telefonszám"
          formControlName="phoneNumber"
        />
        <mat-error color="warn" *ngIf="phoneNumber?.hasError('required')"
          >A mező kitöltése kötelező!</mat-error
        >
        <mat-error
          *ngIf="
            phoneNumber?.hasError('pattern') ||
            phoneNumber?.hasError('minlength') ||
            phoneNumber?.hasError('maxlength')
          "
          >Kérlek, ezt a formátumot használd: 36201234567</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill" color="primary">
        <mat-label id="event-label">Esemény típusa:</mat-label>
        <mat-select [(value)]="selectedEvent">
          <mat-option value="Kezelés">Kezelés</mat-option>
          <mat-option value="Csere">Csere</mat-option>
          <mat-option value="Tanfolyam">Tanfolyam</mat-option>
          <mat-option value="Ingyenes program">Ingyenes program</mat-option>
        </mat-select>
      </mat-form-field>

      <p>A kiválasztott esemény: {{ selectedEvent }}</p>
      <mat-label>Válassz egy időpontot!</mat-label>

      <mat-card class="demo-inline-calendar-card" color="primary">
        <mat-calendar [(selected)]="selectedDate"></mat-calendar>
      </mat-card>
      <p>A kiválasztott dátum: {{ selectedDate | date }}</p>

      <button
        type="submit"
        [disabled]="form.invalid || !selectedDate || !selectedEvent"
        mat-raised-button
      >
        Jelentkezem!
      </button>
    </form>
  </div>
</div>
