<div id="main-container">
  <div id='image-holder'>
    <img src="../../../assets/rsz_1rsz_barabaskatalin.jpg" alt="">
  </div>
  <div id='datepicker-holder'>
    <form [formGroup]="form">

      <mat-label>Személyes adatok</mat-label>
      <mat-form-field appearance="fill">
        <input matInput placeholder='Név' formControlName='name'>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <input matInput type="email" placeholder='Email' formControlName='email'>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <input matInput placeholder='Telefonszám' formControlName='phoneNumber'>
      </mat-form-field>

      <mat-label>Válassz egy időpontot!</mat-label>
      <mat-card class="demo-inline-calendar-card">
        <mat-calendar [(selected)]="selected"></mat-calendar>
      </mat-card>
      <p>A kiválasztott dátum: {{selected | date }}</p>

      <button mat-raised-button (click)="sendForm()">Küldés</button>
    </form>
  </div>
</div>