<div class="main-container">
  <div class="content">
    <div id="access-consciousness">
      <p class="title">Mi is az az Access Consciousness®?</p>
      <p class="text">
        Az Access Consciousness® eszközök, technikák, rendszerek és filozófiák
        gyűjteménye, amelyek változást hoznak az életed bármely területén, ami
        nem úgy működik, ahogyan szeretnéd. Arra tervezték, hogy megerősítsen
        Téged abban, hogy úgy teremtsd az életed, ahogyan szeretnéd. Célja, hogy
        tudatosságot és egységet teremtsen a világban, ahol minden létezik, és
        semmi sincs megítélve; hogy megerősítse az embereket, hogy tudják, hogy
        tudnak.
      </p>
      <p class="text">
        Ma az Access Bars®-t a világ több mint 170 országában alkalmazzák
        vállalatoknál, családokban, iskolákban, üzleti életben; atléták,
        börtönőrök, pszichológusok, művészek és sok mások által szerte a
        világon, hogy elősegítse a jobb egészség és jólét megteremtését.
      </p>
      <div id="img-holder">
        <img
          src="../../../assets/_K9P0100.jpg"
          alt="Picture about Access Bars® treatment"
        />
      </div>
    </div>

    <div id="access-bars">
      <p class="title">Access Bars®</p>
      <div id="bars-text-container">
        <p class="subtitle">Mi az az Access Bars® és hogyan működik?</p>
        <div id="text-video-container">
          <!-- <div id="youtube-player">
            <youtube-player videoId="p2axqedXMnw"></youtube-player>
          </div> -->

          <p class="text">
            A Bars 32 pont a fejen, amiben az összes gondolatodat,
            elképzelésedet, hiedelmedet, megfontolásodat, érzelmedet és
            hozzáállásodat tároltad el (amiket bármely életedben fontosnak
            tartottál). Ezen a pontok gyengéd érintése segít elengedni a
            berögzült fix nézőpontokat és ezáltal olyan agyhullámokat generál,
            amit több évtizedes meditációval szoktak csak elérni.
          </p>
          <p class="text">
            Az élet minden területén könnyedséget tudsz megélni. Amikor
            futattják a Barjaidat, olyan, mintha megnyomnád az újraindítás
            gombot a számitógépeden, az agyhullámok lelassulnak, így lehetővé
            téve, hogy a viselkedési minták, hitrendszerek és nézőpontok –
            amikor pl. gyerekkorod óta futtatsz – hozzáférhetőek legyenek.
            Ezáltal szó szerint a jövő lehetőségeinek valószínűségét változtatod
            meg!
          </p>
          <p class="text">
            A Bars arról szól, hogy a test megtanul befogadni. A valódi
            befogadás az, amikor a testnek lehetővé teszed, hogy választása
            legyen azzal kapcsolatban, amihez ragaszkodsz. A Bars hozzájárul,
            hogy változást idézzen elő életed minden területén.
          </p>
        </div>
        <div id="container-holder">
          <div class="container">
            <p class="subtitle">Mikor használták először?</p>
            <p class="text">
              <!-- TODO: csekkoljuk ezt a szöveget, mert annyira nem impozáns :D -->
              Az első Bars kezelést több mint 30 évvel ezelőtt az Access
              Consciousness alapítója, Gary Douglas futtatta. Gary Douglasnak,
              az életében elérkezett az a pont, amikor semmi sem sikerült és
              elkezdte keresni az élete értelmét. Felismerte és fejleszteni
              kezdte médiumi adottságait, tehetségét. Egy nap elhívták, hogy
              segítsen egy masszőrnek kezelni. De nagy meglepetésére nem a
              testtel kapcsolatos információkat kapott, hanem a fejen 32 pontot.
            </p>
          </div>
          <div class="container">
            <p class="subtitle">Miből áll és meddig tart egy kezelés?</p>
            <p class="text">
              A kezelés masszázságyon, fekve történik. Tápláló és relaxáló
              folyamat, már az első érintés a pontokon változást hoz létre. Egy
              Bars kezelés 60-90 percig tart, vállalhatod egyszeri alkalommal,
              havonta, hetente vagy akár naponta is.
            </p>
          </div>

          <div class="container">
            <p class="subtitle">Az Access Bars® hatásai</p>
            <p class="text">
              Noha tudományosan bizonyítottak, mindenkinél egyéniek, és
              kezelésről kezelésre különbözőek. A kezelés befogadóinak
              beszámolói alapján segíthet a következőkben:
            </p>
            <ul>
              <li>
                <span class="material-symbols-outlined">check</span>fizikai
                egészség javítása
              </li>
              <li>
                <span class="material-symbols-outlined">check</span>stressz
                csökkentése és tisztább gondolkodás
              </li>
              <li>
                <span class="material-symbols-outlined">check</span>fokozott
                motiváció és könnyebb kommunikáció
              </li>
              <li>
                <span class="material-symbols-outlined">check</span>
                az öröm, boldogság, hála, kedvesség és béke érzéseinek jelentős
                növekedése
              </li>
              <li>
                <span class="material-symbols-outlined">check</span>
                mélyebb relaxáció és pozitív hatás a migrénre és álmatlanságra
              </li>
              <li>
                <span class="material-symbols-outlined">check</span>
                javuló mentális egészség: a depresszió, pánikrohamok,
                figyelemhiányos zavar (ADD), figyelemhiányos hiperaktivitás
                zavar (ADHD) és obszesszív-kompulzív zavar (OCD) tüneteinek
                csökkenése
              </li>
              <li>
                <span class="material-symbols-outlined">check</span>nagyobb
                mértékű, intuitív éberség
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="access-facelift">
      <p class="title">Access Facelift®</p>
      <div id="bars-text-container">
        <p class="subtitle">
          Életed mekkora területét szabadíthatja fel ez az energia? Mi mindent
          rejtegetnek a ráncaid?
        </p>
        <p class="text">
          Lehetséges, hogy fiatalabbnak nézz ki és annak is érezd magad anélkül,
          hogy botulinumot kellene injekciózni a testedbe, akupunktúrás tűkkel
          megszúrkálni, vagy bármilyen más traumát teremteni a testedben? Igen!
        </p>
        <p class="text">
          A gyógyító érintés két ember között sejtszinten tudja megváltoztatni
          az embert, és segít helyreállítani a test természetes öngyógyító,
          önfiatalító és ön-regeneráló állapotát. Néhány ember napokig nem kap
          érintést egy másik embertől, noha a kedves, tápláló, megújító érintés
          csökkenti a stresszt, csökkenti a pulzust és a vérnyomást, segíti az
          emésztést, és mindenféle csodálatos dolgot eredményez.
        </p>
        <p class="text">
          Az Access Energetikai Facelift® egy csodálatos kezelés, ami külsőleg
          visszafordíthatja az öregedés jeleit az arcon, és hasonló hatást
          kelthet az egész testen, belsőleg pedig oldja az öregedéssel, az
          élettel kapcsolatos nézőpontokat és ítéleteket, amelyek hatnak a
          külsőnkre is. Ez az erőteljes kezelés az egész testednek folyamatos
          hozzájárulás, amitől kívül-belül egészségesebbnek és fiatalabbnak
          érzed magad.
        </p>
        <p class="text">
          Az Access Facelift® esetében nincs ajánlott kezelésszám, ahhoz, hogy
          eredményeket érjünk el, illetve hogy a kezelés összes jótékony
          hatásában részesüljünk - vannak, akik már egy kezelés után változásról
          számolnak be. Ha folyamatosan csináljuk (5-20 alkalommal), maradandó
          hatást érünk el. Minél több kezelést fogadsz be folyamatosan, annál
          jobban fogsz kinézni, és annál jobban fogod érezni magad!
        </p>
        <p class="text">
          Ezt a tápláló kezelés világszerte alkalmazzák termálfürdőkben,
          masszázs szalonokban, kozmetikákban és wellness központokban és még
          plasztikai sebészeti rendelőkben is. Milyen hozzájárulás lehet
          számodra és tested számára a Facelift kezelés?
        </p>
        <div id="text-video-container">
          <!-- <div id="youtube-player">
          <youtube-player videoId="p2axqedXMnw"></youtube-player>
        </div> -->
        </div>

        <div id="container-holder">
          <div class="container">
            <p class="subtitle">Miből áll és meddig tart egy kezelés?</p>
            <p class="text">
              <!-- TODO: csekkoljuk ezt a szöveget, mert annyira nem impozáns :D -->
              Az Access Bars®-hoz hasonlóan a kezelés masszázságyon, fekve
              történik. A Facelift® kezelésnek nincs megszabott hosszúsága, egy
              átlagos kezelés 60-90 perc hosszúságú, de lehet 20 perces is.
              Mondhatnám úgy is, hogy amennyit a személy az adott pillanatban be
              tud fogadni.
            </p>
          </div>

          <div class="container">
            <p class="subtitle">A Facelift® előnyei</p>
            <p class="text">Nem szükségesek a kezelés során:</p>
            <ul>
              <li>
                <div class="text-box">
                  <span class="material-symbols-outlined">close</span>
                  <p>sebészeti beavatkozások, injekciók</p>
                </div>
              </li>
              <li>
                <div class="text-box">
                  <span class="material-symbols-outlined">close</span>
                  <p>vegyszerek</p>
                </div>
              </li>
              <li>
                <div class="text-box">
                  <span class="material-symbols-outlined">close</span>
                  <p>krémek és egyéb lifting termékek</p>
                </div>
              </li>
              <li>
                <div class="text-box">
                  <span class="material-symbols-outlined">close</span>
                  <p>hosszas konzultációk</p>
                </div>
              </li>
              <li>
                <div class="text-box">
                  <span class="material-symbols-outlined">close</span>
                  <p>nincs kockázat, gyógyulási idő!</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="container">
            <p class="subtitle">A Facelift® hatásai</p>
            <ul>
              <li>
                <div class="text-box">
                  <span class="material-symbols-outlined">verified</span>
                  <p>
                    simuló szarkalábak és ráncok, ragyogó és fiatalosabb
                    megjelenés már az első kezelés után is
                  </p>
                </div>
              </li>
              <li>
                <div class="text-box">
                  <span class="material-symbols-outlined">verified</span>
                  <p>
                    helyreállítja a testen keresztül történő energiaáramlást,
                    ennek köszönhetően az izmok ellazulnak, a bőr regenerálódik
                  </p>
                </div>
              </li>
              <li>
                <div class="text-box">
                  <span class="material-symbols-outlined">verified</span>
                  <p>az arc élénk tónusú, az arcbőr rugalmasabb</p>
                </div>
              </li>
              <li>
                <div class="text-box">
                  <span class="material-symbols-outlined">verified</span>
                  <p>a szem alatti karikák halványodnak</p>
                </div>
              </li>
              <li>
                <div class="text-box">
                  <span class="material-symbols-outlined">verified</span>
                  <p>a bőr megereszkedése csökken</p>
                </div>
              </li>
              <li>
                <div class="text-box">
                  <span class="material-symbols-outlined">verified</span>
                  <p>ragyogóbb haj</p>
                </div>
              </li>
              <li>
                <div class="text-box">
                  <span class="material-symbols-outlined">verified</span>
                  <p>javuló közérzet</p>
                </div>
              </li>
              <li>
                <div class="text-box">
                  <span class="material-symbols-outlined">verified</span>
                  <p>
                    gyakran előfordul, hogy a hegesedés és a pigmentáció
                    halványodni kezd
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <div class="container">
            <p class="subtitle">Kiemelt érdekességek a kezelés menetéről</p>
            <p class="text">
              A kezelés alatt nem játszunk le zenét, mert a zene kikapcsolja a
              beültetéseket, amik a korlátozásokat teremtik. Ha készen állsz
              arra, hogy elengedj egy beültetést, akkor nem fogod tudni
              elengedni azt a beültetést, amit a zene kikapcsolt. Ez korlátozást
              teremt abban, amit be tudsz fogadni és meg tudsz változtatni a
              Facelift® kezelés alatt.
            </p>
            <p class="text">
              A kezelés közben ne legyenek keresztben a kezeid, ez megállítja az
              energiaáramlást. A lábfejek és a lábak lehetnek keresztben.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
