<div id="main-container">
  <div id="access-consciousness">
    <div>
      <p class="title">Mi is az az Access Consciousness®?</p>
      <p class="text">
        Az Access Consciousness eszközök, technikák, rendszerek és filozófiák
        gyűjteménye, amelyek változást hoznak az életed bármely területén, ami
        nem úgy működik, ahogyan szeretnéd. Az Accesst arra tervezték, hogy
        megerősítsen téged abban, hogy úgy teremtsd az életed, ahogyan
        szeretnéd. Az Access célja, hogy tudatosságot és egységet teremtsen a
        világban, ahol minden létezik, és semmi sincs megítélve. Az Access
        célja, hogy megerősítse az embereket, hogy tudják, hogy tudnak.
      </p>
    </div>
    <div>
      <img
        src="../../../assets/rsz_1accessbarsphoto1-1.jpg"
        alt="Picture about treatment"
      />
    </div>
  </div>

  <div id="access-bars">
    <p class="title">Access Bars®</p>
    <div id="bars-container">
      <p class="subtitle">Mi az az Access Bars® és hogyan működik?</p>
      <div id='text-video-container'>
        <div id="youtube-player">
          <youtube-player videoId="p2axqedXMnw"></youtube-player>
        </div>
        <p class="text">
          A Bars 32 pont a fejen, amiben az összes gondolatodat, elképzelésedet,
          hiedelmeidet, megfontolásodat, érzelmeidet és hozzáállásodat tároltad
          el, (amiket bármely életedben fontosnak tartottál), amit gyengéden
          megérintve segít elengedni a berögzült fix nézőpontokat és ez által
          olyan agyhullámokat generál, amit több évtizedes meditációval szoktak
          csak elérni. Az élet minden területén könnyedséget tudsz megélni.
          Amikor futattják a Barjaidat, az olyan, mintha megnyomnád a törlés
          gomot a számitógépeden, az agyhullámok lelassulnak, ezáltal lehetővé
          téve, hogy a viselkedési minták, hitrendszerek és nézőpontok – amikor
          p. gyerekkorod óta futtatsz – hozzáférhetőek legyenek. Amikor Barst
          kapsz, szó szerint a jövő lehetőségeinek valószínűségét változtatod
          meg! A Bars arról szól, hogy a test megtanul befogadni. A valódi
          befogadás az, amikor a testnek lehetővé teszed, hogy választása legyen
          azzal kapcsolatban, amihez ragaszkodsz. A Bars hozzájárul, hogy
          változást idézzen elő életed minden területén. Ma az Access Barst a
          világ több mint 170 országában alkalmazzák vállalatoknál, családokban,
          iskolákban, üzleti életben, atléták, börtönőrök, pszichológusok,
          művészek és sokak mások által szerte a világon, hogy elősegítse a jobb
          egészség és jólét megteremtését.
        </p>
      </div>
      <div id="container-holder">
        <div class="container">
          <p class="subtitle">Miből áll és meddig tart egy kezelés?</p>
          <p class="text">
            A kezelés masszázságyon, fekve történik. Tápláló és relaxáló
            folyamat, már az első érintés a pontokon változást hoz létre. Egy
            Bars kezelés 60-90 percig tart. Ez egy olyan folyamat, amelyet
            vállalhatsz egyszeri alkalommal, havonta, hetente vagy akár naponta
            is.
          </p>
        </div>
        <div class="container" id="middle">
          <p class="subtitle">Mikor használták először?</p>
          <p class="text">
            Az első Bars kezelést több mint 30 évvel ezelőtt az Access
            Consciousness alapítója, Gary Douglas futtatta. Gary Douglasnak, az
            életében elérkezett az a pont, amikor semmi sem sikerült és elkezdte
            keresni az élete értelmét. Felismerte és fejleszteni kezdte médiumi
            adottságait, tehetségét. Egy nap elhívták, hogy segítsen egy
            masszőrnek kezelni. De nagy meglepetésére nem a testtel kapcsolatos
            információkat kapott, hanem a fejen 32 pontot.
          </p>
        </div>
        <div class="container">
          <p class="subtitle">Az Access Bars® hatásai</p>
          <p class="text">
            Tudományosan bizonyítottak, mindenkinél egyéniek, és kezelésről
            kezelésre különbözőek. A kezelés befogadóinak beszámolói alapján
            segíthet a következőkben:
          </p>
          <ul>
            <li>fizikai egészség javítása</li>
            <li>stressz csökkentése és tisztább gondolkodás</li>
            <li>fokozott motiváció és könnyebb kommunikáció</li>
            <li>
              az öröm, boldogság, hála, kedvesség és béke érzéseinek jelentős
              növekedése
            </li>
            <li>
              mélyebb relaxáció és pozitív hatás a migrénre és álmatlanságra
            </li>
            <li>
              javuló mentális egészség: a depresszió, pánikrohamok,
              figyelemhiányos zavar (ADD), figyelemhiányos hiperaktivitás zavar
              (ADHD) és obszesszív-kompulzív zavar (OCD) tüneteinek csökkenése
            </li>
            <li>nagyobb mértékű, intuitív éberség</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
