<div id="main-container">
  <div>
    <img src="../../../assets/rsz_retus.jpg" alt="Picture of Katalin Barabás" />
  </div>
  <div id="text">
    <p>Magamról</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel
      erat suscipit dui molestie elementum. Nullam vel bibendum odio, non
      fringilla velit. Pellentesque venenatis nibh vitae viverra viverra. Class
      aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
      himenaeos. Nulla consectetur ac dolor ultricies congue. Sed vitae eros
      elit. Duis a lorem scelerisque, tristique ex at, ultricies purus. Nullam
      rhoncus, nisl nec rutrum vestibulum, dolor ante tristique ante, at congue
      dui diam a nibh. Cras nec tortor non arcu imperdiet bibendum. Nullam
      malesuada, elit id imperdiet faucibus, odio nibh volutpat velit, in rutrum
      erat nisi et dolor. Morbi vitae mauris auctor neque pellentesque
      condimentum.
    </p>
  </div>
</div>
