<div class="main-container">
  <div class="content">
    <div id="introduction-holder">
      <div id="image">
        <!-- <img src="../../../assets/rsz_retus.jpg" alt="Picture of Katalin Barabás" /> -->
      </div>
      <div>
        <h1>Üdvözöllek a honlapomon!</h1>
        <h3 id="name">Barabás Katalin vagyok,</h3>
        <h3 id="access">Access Bars® kezelő.</h3>
      </div>
    </div>
    <div id="text-holder">
      <p>
        Szeretnél változást az életedben, de úgy érzed, valami mindig meggátol?
        Stresszes vagy, nehezen engeded el a régi nézőpontjaidat, szokásaidat?
      </p>
      <p>
        Vagy éppen most minden összhangban van körülötted? Kíváncsi vagy, hogy
        lehetne ennél is jobb?
      </p>
      <p>
        Ha valamelyik kérdésre igen a válaszod, vagy továbbiak vetődtek fel
        Benned, böngéssz-keress bátran, várom, hogy találkozzunk!
      </p>
    </div>
  </div>
</div>
