<div class="main-container">
  <div class="content">
    <div id="introduction-holder">
      <div class="image-holder">
        <img src="../../../assets/AccessBars_Meme6b_Hungarian.jpg" alt="" />
      </div>
      <div id="text-holder">
        <p>
          Szeretnél változást az életedben, de úgy érzed, valami mindig
          meggátol? Feszült vagy, nehezen engeded el a berögzült nézőpontjaidat,
          szokásaidat?
        </p>
        <p>
          ...vagy éppen most minden összhangban van körülötted? Érdekel, hogy
          lehetne ennél is jobb?
        </p>
        <!-- <div> -->
        <h3 id="name">Barabás Katalin vagyok,</h3>
        <h3 id="access">Access Bars® facilitátor,</h3>
        <h3 id="access">Access Facelift® kezelő.</h3>
        <p>További információkért böngéssz tovább :)</p>
        <!-- </div> -->
        <div id="image">
          <!-- <img
            src="../../../assets/rsz_retus.jpg"
            alt="Picture of Katalin Barabás"
          /> -->
        </div>
      </div>
    </div>
  </div>
</div>
