#main-container {
  // display: inline-block;
  margin: 30px;
  font-family: "Cormorant Garamond", serif;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  
  #content {
    width: 80%;
    line-height: 1.5;
    
    #image {
      width: 600px;
      height: 600px;
      background-image: url("../../../assets/rsz_retus.jpg");
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      margin-bottom: 20px;
      margin-right: 20px;
      float: left;
      shape-outside: circle(50%);
    }

    h1,
    h3 {
      font-family: "Great Vibes", cursive;
      margin: 20px 0;
    }
    h1 {
      font-size: 56px;
    }

    h3 {
      font-size: 48px;
    }
    // #text {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   text-align: justify;
    //   width: 650px;
    // }
  }
}
