@import "../../../mixins.scss";

#main-container {
  // margin: 30px;
  font-family: "Cormorant Garamond", serif;
  // font-size: 18px;
  font-size: calc(15px + 0.7vw);
  font-weight: bold;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  #content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: calc(10px + 1.5625vw);
    line-height: 1.5;
    // max-width: 600px;

    @include sm {
      max-width: 560px;
    }

    @include md {
      // flex-direction: row;
    }

    #image {
      width: calc(230px + 6vw);
      height: calc(230px + 6vw);
      background-image: url("../../../assets/rsz_retus.jpg");
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      margin-bottom: 20px;

      @include custom(440px) {
        width: 300px;
        height: 300px;
      }

      @include md {
        margin-right: 30px;
        float: left;
        shape-outside: circle(50%);
      }
    }

    h1,
    h3 {
      margin: 20px 30px;
      // text-align: center;
    }

    h1 {
      font-size: calc(40px + 0.7vw);
      font-family: "Cormorant Garamond", serif;
      // font-weight: bolder;
      // font-style: italic;
      line-height: 0;
    }

    h3 {
      font-family: "Great Vibes", cursive;
      font-size: calc(30px + 0.7vw);
    }

    #access {
      color: rgb(193, 177, 114);
      margin-top: 0;
    }
  }
}
