// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-primary: mat.define-palette(mat.$brown-palette);
$frontend-accent: mat.define-palette(mat.$teal-palette);

// The warn palette is optional (defaults to red).
$frontend-warn: mat.define-palette(mat.$deep-purple-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontend-theme: mat.define-light-theme(
  (
    color: (
      primary: $frontend-primary,
      accent: $frontend-accent,
      warn: $frontend-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($frontend-theme);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: whitesmoke;
  color: rgb(121, 85, 72);
  font-family: "Cormorant Garamond", serif;

  // TODO: check whether this bunch of code can go to the component.scss files
  // if no, why??

  .mat-content {
    overflow: visible;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 0;
    }
  }

  .mat-expansion-panel
    .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled="true"]),
  .mat-expansion-panel:not(.mat-expanded)
    .mat-expansion-panel-header:hover:not([aria-disabled="true"]),
  .mat-expansion-panel:hover,
  .mat-expansion-header.mat-expanded:focus {
    background-color: rgb(253, 237, 237);
  }

  .mat-expansion-panel-body {
    background-color: rgb(253, 237, 237);
    font-family: "Cormorant Garamond", serif;
    font-size: 16px;
    letter-spacing: 0.5;
    padding: 0 0 12px 0;
  }
}
