/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: rgb(245, 245, 245);

  .mat-menu-panel.menu {
    background-color: rgb(253, 237, 237);
    // width: 200px;

    .mat-menu-item {
      font-family: "Cormorant Garamond", serif;
      font-size: 18px;
    }
  }
}
