/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: whitesmoke;

  .mat-menu-panel.menu {
    background-color: rgb(253, 237, 237);
    .mat-menu-item {
      font-family: "Cormorant Garamond", serif;
      font-size: 18px;
    }
  }

  .mat-content {
    overflow: visible;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
