.main-container {
  .content {
    align-items: flex-start;

    .info-box {
      text-align: justify;
    }
    #title-holder {
      align-self: center;
    }

    .iconWithData {
      text-align: center;
      margin-bottom: 20px;

      a {
        text-decoration: none;
        color: rgb(121, 85, 72);
        margin-left: 10px;
      }
    }
  }
}
