<div class="main-container">
  <div class="content">
    <div id="general-info">
      <p class="title">Adatvédelmi nyilatkozat</p>
      <p class="text">HATÁLYOS: 2023. szeptember 23.</p>
    </div>
    <div id="introduction">
      <p class="subtitle">BEVEZETŐ</p>
      <p class="text">
        Az adatokat a Fluffytouch kezeli, amelynek vezetője (Barabás Katalin)
        felelős a személyes adatok kezeléséért.
      </p>
      <p class="text">
        Az adatvédelemért felelős személy: Barabás Katalin, Magyarország
      </p>
      <div class="iconWithData">
        <span class="material-symbols-outlined">call</span>
        <a href="tel:+36308399016">+36308399016</a>
      </div>
    </div>
    <div id="data-info">
      <p class="subtitle">1. MILYEN ADATOKAT TÁROLUNK?</p>
      <ul>
        <li class="text">
          <p>KOMMUNIKÁCIÓS ADATOK</p>
          <p>
            Ide tartozik bármilyen üzenet, amit a weboldalon keresztül,
            e-mailben, közösségi média üzenetben, vagy bármilyen kommunikációs
            formában juttatsz el hozzánk. Ezeket az adatokat azért dolgozzuk fel
            és tartjuk meg, hogy a rendeléseket teljesíteni tudjuk, és hogy
            esetleges jogi igények esetén döntési alapot szolgáltassanak. A
            jogalapunk ennek a feldolgozására a felhasználó igazolható
            érdeklődése a tevékenységünk felé, ami megnyilvánul a nekünk címzett
            üzenetekben.
          </p>
        </li>
        <li class="text">
          <p>VÁSÁRLÓI, FELHASZNÁLÓI ADATOK</p>
          <p>
            Amibe beletartozik minden adat, ami a
            <!-- termékek és -->
            szolgáltatások vásárlásával kapcsolatos, mint például a vásárló
            neve,
            <!-- szállítási és -->
            számlázási címe, e-mail címe, telefonszáma, vásárolt
            <!-- termék  -->
            szolgáltatás adatai. Ezeket az adatokat a
            <!-- rendelések  -->
            foglalások sikeres teljesítése érdekében dolgozzuk fel, illetve hogy
            jogilag megfelelő feljegyzéseink legyenek a vásárlásokról. A
            számlázási cím tárolása az online tranzakció igénybevételével
            töréntő fizetés ellenőrzésére használható.
          </p>
        </li>
      </ul>
    </div>
    <div id="data-reasoning">
      <p class="subtitle">2. MIÉRT TÁROLJUK EL AZ ADATOKAT?</p>
      <p class="text">
        Adataidat azért tároljuk, hogy biztosítani tudjuk szolgáltatásainkat,
        illetve hogy a klienseink és ügyfeleink felé vállalt szerződéses
        kötelezettségeinket teljesítsük. A személyes adatok tárolásának célja,
        hogy információt, ingyenes mintákat, anyagokat
        <!-- és termékeket  -->
        küldhessünk, valamint regisztrálhassunk Téged a tanfolyamokra,
        eseményekre, telekurzusokra. Mivel nyilvántartjuk, hogy milyen
        szolgáltatásokat vettél igénybe, és milyen tanfolyamokon és
        telekurzusokon vettél részt, ellenőrizni tudjuk a későbbi, haladó
        tanfolyamok előfeltételeit, illetve azt, hogy igény esetén az Access
        Consciousness facilitátorává válhatsz-e. Ha az Access Consciousness
        facilitátorává szeretnél válni, tudnunk kell, hogy milyen tanfolyamokon
        és képzéseken vett részt az eddigiekben, hogy facilitátorrá
        minősíthessük. A tanfolyamok és telekurzusok felvételeit eltároljuk és
        szétküldjük, hogy lehetővé tegyük az ügyfeleknek és klienseknek, hogy
        visszajátsszák azokat a tanfolyamokat és telekurzusokat, amelyeken részt
        vettek.
        <!-- A fent említett tanfolyamok vagy
        telekurzusok után a felvételekből termékeket készítünk, amelyek a
        shopban megvásárolhatók. -->
        <!-- Az Ön elmentett adatai segítségével rendszereink jobb szolgáltatást nyújthatnak Önnek. Ha például tanfolyamokra regisztrál, nem szükséges minden alkalommal kitöltenie az adatait. Rendszerünk azt is tudja, hogy korábban milyen tanfolyamokon vett részt, és adatai alapján bizonyos árengedményeket biztosíthatunk. -->
        <!-- Az Access Shopban történő vásárlásai adatait is elmentjük. Egyes vásárlásainak köszönhetően más, haladó tanfolyamokra is jogosulttá válhat, bizonyos termékek pedig előfeltételei annak, hogy facilitátorrá válhasson. -->
      </p>
    </div>
    <div id="data-access">
      <p class="subtitle">3. KI FÉR HOZZÁ AZ ADATAIDHOZ?</p>
      <p class="text">
        A Fluffytouchon belül a tulajdonoson túl a kommunikációs csapat tagjai
        férnek hozzá az adataidhoz, akiknek szükségük van rájuk ahhoz, hogy a
        klienseinkkel és ügyfeleinkkel kötött szerződéses megállapodásainkat
        teljesíteni tudjuk. Az adatokat diszkréten kezeljük, harmadik fél
        számára nem adjuk ki.
        <!-- Ez lehet a kommunikációs és marketingcsapat, a rendezvényszervezők vagy
        az adminisztratív személyzet és a vállalkozók is. -->
        <!-- Továbbá, ha Ön az Access Consciousness facilitátora, a különböző facilitátori csapatok támogató csoportjai is hozzáférhetnek az adataihoz, hogy megadhassák Önnek mint önálló vállalkozónak a munkavégzéséhez szükséges támogatást és információkat. -->
      </p>
    </div>
    <div id="storage-term">
      <p class="subtitle">4. MENNYI IDEIG TÁROLJUK AZ ADATOKAT?</p>
      <ul class="text">
        Az adatokat addig tároljuk, amíg...
        <li>
          Veled mint klienssel, ügyféllel vagy érdekelt féllel kapcsolatban
          állunk
        </li>
        <li>erre adózási célból jogilag kötelesek vagyunk</li>
        <li>amíg le nem iratkozol, vagy amíg adataid törlését nem kéred</li>
      </ul>
    </div>
    <div id="client-low">
      <p class="subtitle">5. MILYEN ADATVÉDELMI JOGAID VANNAK KLIENSKÉNT?</p>
      <ul class="text">
        Kliensként jogod van arra, hogy...
        <li>az általunk tárolt adatokat kijavíttasd</li>
        <li>a Rólad tárolt adatokról tájékoztatást kérj</li>
        <li>a tárolt adatok törlését vagy korlátozását kérd.</li>
      </ul>
      <p>
        Ha adataid frissítését, módosítását vagy törlését kéred, vedd fel velünk
        a kapcsolatot az alábbi e-mail címen:
      </p>
      <div class="iconWithData">
        <span class="material-symbols-outlined">forward_to_inbox</span>
        <a href="mailto:hello@fluffytouch.hu">hello@fluffytouch.hu </a>
      </div>
    </div>
    <div class="data-obligation">
      <p class="subtitle">6. KÖTELESEK-E A KLIENSEK MEGADNI AZ ADATAIKAT?</p>
      <p class="text">
        Igen. Kliensként vagy ügyfélként köteles vagy megadni azokat az
        adatokat, amelyekre szükségünk van ahhoz, hogy az általunk kínált
        különféle szolgáltatásokon belül szerződéses kötelességeinket
        teljesíteni tudjuk.
      </p>
    </div>
    <div class="server-location">
      <p class="subtitle">7. HOL TÁROLJUK AZ ADATAIT?</p>
      <p class="text">
        Adatainak tárolására egyszerre több rendszert is használunk, hogy
        ezáltal teljesítsük a kliensekkel és ügyfelekkel kötött szerződéses
        megállapodásainkat, illetve hogy tevékenységünket nemzetközi szinten
        folytathassuk. Az információkat általában felhőszolgáltatásban és az az
        Európai Unióban található számítógépeken tároljuk. Ezek pontos földrajzi
        helye a különböző nyújtott szolgáltatások függvényében eltérhetőek.
      </p>
    </div>
    <div class="data-protection">
      <p class="subtitle">8. HOGYAN VÉDJÜK AZ ADATAIDAT?</p>
      <p class="text">
        Az adatvédelmi nyilatkozat tartalmával kommunikációs csapatunk tagjai
        tisztában vannak. A tárolt adatokhoz a hozzáférésre jogosult
        felhasználók csak biztonságos, védett belépési pontokon keresztül
        férhetnek hozzá.
      </p>
    </div>
  </div>
</div>
